
body {
	background-color: #fff
}

.top-banner {
	height: 425px;
	position: relative;
	margin: 0 auto;
	z-index: 2;
	background: url(../img/banner-default.jpg) center center no-repeat
}

.top-banner .pro-guide-box {
	padding: 20px;
	position: absolute;
	left: 0;
	top: 15px;
	bottom: 15px;
	background: #FFF;
	width: 270px
}

.top-banner .pro-guide-box .search-box {
	font-size: 0
}

.top-banner .pro-guide-box .search-box .item-field {
	border: 0
}

.top-banner .pro-guide-box .search-box button,.top-banner .pro-guide-box .search-box input {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	height: 34px;
	line-height: 34px;
	border: 1px solid #ddd
}

.top-banner .pro-guide-box .search-box input {
	width: 179px;
	padding: 0 10px;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0 none
}

.top-banner .pro-guide-box .search-box input:focus {
	border-color: #f24644
}

.top-banner .pro-guide-box .search-box button {
	cursor: pointer;
	height: 36px;
	width: 70px;
	color: #fff;
	text-align: center;
	font-size: 16px;
	background-color: #f24644;
	border-color: #f24644;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px
}

.top-banner .pro-guide-box .guide-item {
	line-height: 1.5;
	margin: 10px 0
}

.top-banner .pro-guide-box .guide-item a {
	float: left;
	color: #666;
	font-size: 14px;
	text-align: center
}

.top-banner .pro-guide-box .guide-item a:active,.top-banner .pro-guide-box .guide-item a:hover {
	color: #e53e3c
}

.top-banner .pro-guide-box .guide-item dt {
	font-weight: 500;
	font-size: 18px;
	color: #333;
	margin: 0 0 5px
}

.top-banner .pro-guide-box .guide-item dt a {
	font-size: 16px;
	line-height: 2;
	color: #333
}

.top-banner .pro-guide-box .guide-item dd a {
	margin-right: 10px;
	white-space: nowrap
}

.top-banner .pro-guide-box .guide-item.brand {
	margin-top: 13px;
	margin-left: -20px;
	margin-right: -20px;
	padding: 5px 0 8px 20px;
	border: 2px solid transparent
}

.top-banner .pro-guide-box .guide-item.brand a {
	width: 50px
}

.top-banner .pro-guide-box .guide-item.brand.curr {
	position: relative;
	z-index: 20;
	border: 2px solid #f24644;
	border-right-color: #fff
}

.top-banner .pro-guide-box .guide-item.brand dt {
	margin-bottom: 5px
}

.top-banner .pro-guide-box .guide-item.brand dd {
	margin-left: -7px;
	position: relative
}

.top-banner .pro-guide-box .guide-item.brand dd a {
	margin-right: 3px
}

.top-banner .pro-guide-box .guide-item.brand dd a span {
	display: block;
	line-height: 1;
	margin-top: 2px
}

.top-banner .pro-guide-box .guide-item.brand dd a img {
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto
}

.top-banner .pro-guide-box .guide-item.brand dd i.more {
	background: url(../img/icon-w15.png) 0 -170px no-repeat;
	position: absolute;
	top: 30px;
	right: 10px;
	width: 14px;
	height: 25px
}

.top-banner .pro-guide-box .guide-item.price {
	margin-top: 10px
}

.top-banner .pro-guide-box .guide-item.price dd {
	margin-right: -10px;
	*zoom: 1
}

.top-banner .pro-guide-box .guide-item.price dd:after {
	content: '\20';
	display: block;
	height: 0;
	clear: both
}

.top-banner .pro-guide-box .guide-item.price dd a {
	width: 60px;
	text-align: left;
	line-height: 2
}

.top-banner .pro-guide-box .guide-item.carStyle {
	margin-top: 13px
}

.top-banner .pro-guide-box .guide-item.carStyle.col2 {
	margin-right: -10px
}

.top-banner .pro-guide-box .guide-item.carStyle dt {
	margin-bottom: 3px
}

.top-banner .pro-guide-box .guide-item.carStyle dd {
	margin-right: -15px;
	margin-left: -3px
}

.top-banner .pro-guide-box .guide-item.carStyle dd a {
	margin-right: 2px;
	width: 69px
}

.top-banner .pro-guide-box .guide-item.carStyle dd a .icon {
	background: url(../img/index-car-style.png) 0 6px no-repeat;
	width: 67px;
	height: 35px;
	display: block;
	margin: 0 auto 2px
}

.top-banner .pro-guide-box .guide-item.carStyle dd a .icon.icon1 {
	width: 72px
}

.top-banner .pro-guide-box .guide-item.carStyle dd a .icon.icon2 {
	background-position: 7px -29px
}

.top-banner .pro-guide-box .guide-item.carStyle dd a .icon.icon3 {
	background-position: 6px -73px
}

.top-banner .pro-guide-box .guide-item.carStyle dd a .icon.icon4 {
	background-position: 5px -115px
}

.top-banner .banner-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: -410px;
	overflow: hidden;
	*zoom: 1;
	height: 100%;
	width: 1920px;
	z-index: -1
}

.top-banner .banner-container .banner-list {
	position: relative;
	width: 100%;
	height: 100%
}

.top-banner .banner-container .banner-list li {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: 0
}

.top-banner .banner-container .banner-list li.curr {
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 100
}

.top-banner .banner-container .banner-list li img {
	width: 1920px;
	height: 100%;
	display: block;
	margin: 0 auto
}

.top-banner .banner-container .icon-list {
	position: absolute;
	bottom: 20px;
	left: 25%;
	z-index: 200;
	width: 50%;
	text-align: center;
	font-size: 0
}

.top-banner .banner-container .icon-list li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url(../img/icon-w15.png) 0 -30px no-repeat;
	width: 15px;
	height: 15px;
	border-radius: 10px;
	margin: 0 4px
}

.top-banner .banner-container .icon-list li.curr {
	background-position: 0 -15px
}

.all-brand,.all-brand .line {
	position: absolute;
	background: #fff
}

.all-brand {
	left: 308px;
	top: 0;
	width: 750px;
	z-index: 1000;
	border: 2px solid #f24644;
	padding: 25px 10px 10px 30px
}

.all-brand .line {
	width: 2px;
	height: 111px;
	left: -2px;
	top: 69px;
	z-index: 100
}

.all-brand .title {
	line-height: 1;
	font-weight: 500;
	font-size: 18px;
	color: #000;
	padding-bottom: 10px
}

.all-brand .column {
	float: left;
	width: 365px;
	line-height: 25px
}

.all-brand .column .class-item {
	position: relative;
	padding: 0 0 10px 30px
}

.all-brand .column .class-item .letter {
	position: absolute;
	left: 0;
	top: 0;
	color: #e53e3c;
	font-size: 18px;
	font-weight: 500
}

.all-brand .column .class-item .item-box {
	width: 335px
}

.all-brand .column .class-item .item-box a {
	float: left;
	padding-right: 15px;
	font-size: 14px;
	white-space: nowrap
}

.all-brand .column .class-item .item-box a:active,.all-brand .column .class-item .item-box a:hover {
	color: #e53e3c
}

.gx-module {
	padding-top: 30px;
	min-height: 0
}

#pbody .wrapper {
	overflow: hidden
}

.f-module .module-title {
	position: relative;
	margin-bottom: 10px;
	border-left: 5px solid #fc5e64;
	font-size: 24px;
	padding-left: 10px;
	color: #333;
	line-height: 24px
}

.f-module .module-title .more {
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 0;
	z-index: 2;
	font-size: 14px
}

.f-module .module-title .more:hover {
	color: #e53e3c
}

.f-module .module-body {
	position: relative;
	border-top: 2px solid #eee
}

.buyCar-module {
	*position: relative;
	overflow-x: hidden
}

.buyCar-module .module-body {
	padding: 20px 0 10px;
	margin-right: -80px
}

.buyCar-module .module-body a {
	float: left;
	position: relative;
	width: 390px;
	overflow: hidden;
	height: 100px;
	padding: 30px 0
}

.buyCar-module .module-body a .main-box {
	margin: 10px 0 0 10px
}

.buyCar-module .module-body a .main-box h3 {
	font-weight: 500;
	font-size: 20px;
	color: #555
}

.buyCar-module .module-body a .main-box .price {
	font-size: 16px
}

.buyCar-module .module-body a .main-box .price strong {
	color: #e53e3c;
	font-size: 32px;
	padding-right: 3px;
	font-weight: 400
}

.buyCar-module .module-body a img {
	position: absolute;
	left: 118px;
	top: 25px;
	width: 220px;
	height: 95px;
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in
}

.buyCar-module .module-body a:hover img {
	-webkit-transform: translate3d(-8px,0,0);
	transform: translate3d(-8px,0,0)
}

.intro-bar {
	margin-bottom: 10px
}

.cars-module .module-title {
	border-left: none;
	padding-left: 0;
	position: relative;
	z-index: 2
}

.cars-module .module-title b {
	font-family: KaiTi;
	font-size: 20px;
	color: #e53e3c
}

.cars-module .module-title .nav-container {
	position: relative;
	z-index: 2;
	border-top: 0 none;
	font-size: 18px;
	margin-bottom: -12px
}

.cars-module .module-title .nav-container li {
	cursor: pointer;
	float: left;
	padding: 0 15px 10px;
	text-align: center;
	position: relative;
	border-bottom: 2px solid transparent;
	margin-right: 25px
}

.cars-module .module-title .nav-container li.curr {
	color: #e53e3c
}

.cars-module .module-title p {
	position: absolute;
	left: 0;
	top: 34px;
	height: 2px;
	background-color: #e53e3c;
	width: 102px;
	z-index: 10
}

.cars-module .module-body .module-box {
	margin: 15px -16px 0 0;
	padding-bottom: 20px
}

.cars-module .module-body .module-box .more {
	display: block;
	border-radius: 5px;
	background-color: #e53e3c;
	color: #fff;
	font-size: 18px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	width: 190px;
	margin: -5px auto 20px
}

.cars-module .module-body .module-box .more:active,.cars-module .module-body .module-box .more:hover {
	background-color: #da3c3a
}