@charset "utf-8";

*,input {
	padding: 0
}

.bt-form .action-btn,a,a:hover,ins {
	text-decoration: none
}

.cover-header .left-link,.ks-fleft {
	float: left
}

.base-overlay,.error-box,.top-banner {
	overflow: hidden
}

* {
	margin: 0
}

body,button,input,select,textarea {
	color: #333;
	font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53",sans-serif;
	word-break: break-all;
	word-wrap: break-word
}

body {
	background-color: #f5f5f5;
	font-size: 14px;
	min-width: 1100px
}

input {
	display: block
}

:-ms-input-placeholder {
	color: #A9A9A9!important
}

::-ms-clear,::-ms-reveal {
	display: none
}

input,select,textarea {
	font-size: 100%
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: none
}

iframe {
	display: block
}

abbr,acronym {
	border: none;
	font-variant: normal
}

del {
	text-decoration: line-through
}

address,caption,cite,code,dfn,th,var {
	font-style: normal;
	font-weight: 500
}

ol,ul {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: 500
}

q:after,q:before {
	content: ''
}

.ks-clear:after,.wrapper:after {
	content: '\20';
	clear: both
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -8px
}

sub {
	bottom: -4px
}

a,ins {
	color: #333
}

:focus,a:focus {
	outline: 0
}

.ks-clear:after {
	display: block;
	height: 0
}

.ks-clear {
	*zoom: 1
}

.ks-hide {
	display: none!important
}

.ks-block {
	display: block
}

.ks-fleft,.ks-fright {
	display: inline
}

.ks-fright {
	float: right
}

@-webkit-keyframes kf-bgShowIn {
	from {
		opacity: 0;
		filter: alpha(opacity=0)
	}

	to {
		opacity: .4;
		filter: alpha(opacity=40)
	}
}

@keyframes kf-bgShowIn {
	from {
		opacity: 0;
		filter: alpha(opacity=0)
	}

	to {
		opacity: .4;
		filter: alpha(opacity=40)
	}
}

.ks-ext-mask {
	-webkit-animation: kf-bgShowIn .2s ease;
	animation: kf-bgShowIn .2s ease;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9998;
	background-color: #000;
	opacity: .4;
	filter: alpha(opacity=40)
}

@-webkit-keyframes kf-showIn {
	from {
		opacity: .5;
		filter: alpha(opacity=50)
	}

	to {
		opacity: 1;
		filter: alpha(opacity=100)
	}
}

@keyframes kf-showIn {
	from {
		opacity: .5;
		filter: alpha(opacity=50)
	}

	to {
		opacity: 1;
		filter: alpha(opacity=100)
	}
}

.base-overlay {
	-webkit-animation: kf-showIn .3s ease;
	animation: kf-showIn .3s ease;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -50%;
	z-index: 9999;
	line-height: 23px;
	color: #333;
	font-size: 18px;
	background: #FFF;
	border-radius: 5px
}

.base-overlay .content-wrapper {
	text-align: center;
	font-size: 16px
}

.base-overlay .ks-title {
	vertical-align: middle;
	z-index: 1000;
	text-align: center;
	font-weight: 500;
	word-break: break-all;
	white-space: normal
}

.base-overlay .ks-ext-close-x {
	position: absolute;
	right: 12px;
	top: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	background: url(../lib/overlay/icon.png) 0 -70px no-repeat;
	font-size: 0
}

.say-overlay {
	position: relative;
	padding: 40px 40px 40px 80px;
	max-width: 250px;
	line-height: 25px
}

.say-overlay .ks-title {
	font-size: 18px;
	font-weight: 400;
	word-wrap: break-word;
	word-break: break-word;
	text-align: left;
	line-height: 1.6
}

.say-overlay.warnning {
	width: auto;
	max-width: 220px
}

.say-overlay .icon {
	position: absolute;
	left: 30px;
	top: 40px;
	width: 35px;
	height: 35px;
	background: url(../lib/overlay/icon.png) 0 -35px no-repeat;
	margin: 0 10px 0 0
}

.say-overlay .icon.success {
	background-position: 0 0
}

.confirm-overlay .content-wrapper {
	padding: 35px 40px 20px;
	min-width: 150px;
	max-width: 350px;
	text-align: center;
	white-space: nowrap
}

.confirm-overlay .contents {
	margin: 0 auto;
	line-height: 25px;
	text-align: left
}

.confirm-overlay .contents .ks-title {
	text-align: center;
	font-size: 20px;
	padding-bottom: 10px
}

.confirm-overlay .contents .ks-title+.ks-desc {
	margin-top: 5px
}

.confirm-overlay .contents .ks-desc {
	word-wrap: break-word;
	word-break: break-word;
	white-space: normal
}

.confirm-overlay .actions {
	height: 43px;
	line-height: 43px;
	margin-top: 10px
}

.confirm-overlay .actions .ks-button {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	border: 1px solid #e53e3c;
	border-radius: 5px;
	color: #fff;
	background-color: #e53e3c;
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding: 0 20px
}

.confirm-overlay .actions .ks-button.cancel {
	border-color: #ccc;
	color: #666;
	background-color: #fff;
	margin-right: 20px
}

.loading-overlay {
	padding: 25px 10px;
	width: 130px;
	min-width: 130px;
	line-height: 25px
}

.loading-overlay .ks-title {
	font-size: 16px;
	font-weight: 400
}

.loading-overlay .icon-box {
	height: 30px;
	margin: 5px 0 10px;
	position: relative
}

.loading-overlay .icon-box .loading-icon {
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	background: url(../lib/overlay/loading.png) no-repeat;
	background-size: 30px auto;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: kf-loading 1s linear infinite;
	animation: kf-loading 1s linear infinite
}

@-webkit-keyframes kf-loading {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes kf-loading {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

.dialog-overlay .ks-ext-close-x {
	top: 20px;
	right: 20px
}

.dialog-overlay .ks-contentbox {
	font-size: 14px;
	color: #666;
	padding: 55px 0 0;
	background: #fff;
	min-height: 50px
}

.dialog-overlay .ks-contentbox .ks-stdmod-header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #f2f2f2;
	color: #333;
	font-size: 20px;
	height: 55px;
	line-height: 55px;
	*zoom: 1;
	display: block;
	min-height: 0
}

.prSelectBox .select-sort,.selectBox .select-sort {
	left: -1px;
	overflow-x: hidden;
	max-height: 460px;
	*max-height: 510px
}

.dialog-overlay .ks-contentbox .ks-stdmod-body,.dialog-overlay .ks-contentbox .ks-stdmod-header {
	padding: 0 30px
}

.tip-overlay {
	white-space: nowrap;
	padding: 12px 18px;
	border-radius: 5px;
	color: #FFF;
	background-color: rgba(0,0,0,.8);
	box-shadow: 1px 1px 5px 1px rgba(0,0,0,.5);
	font-size: 14px
}

input::-ms-clear {
	display: none
}

.wrapper {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	z-index: 1
}

.wrapper:after {
	display: block;
	height: 0
}

.cover-header {
	background: #f5f5f5;
	height: 35px;
	font-size: 16px;
	border-bottom: 1px solid #e6e6e6
}

.cover-header .link-box {
	font-size: 0
}

.cover-header a,.cover-header i,.cover-header span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	line-height: 35px;
	vertical-align: middle
}

.cover-header .app-link,.cover-header .dynamic-box {
	font-size: 0
}

.cover-header .app-link {
	cursor: pointer
}

.cover-header .app-link i {
	background: url(../img/icon/icon-w15.png) no-repeat;
	width: 11px;
	height: 15px;
	margin: 0 5px 0 0;
	*margin-top: 1px
}

.cover-header a.login,.cover-header a.loginOut {
	color: #e53e3c
}

.cover-header .nav-link {
	float: right
}

.cover-header .nav-link i.line {
	background: url(../img/top-line.png) no-repeat;
	width: 2px;
	height: 24px;
	margin: 2px 10px 0
}

.cover-header span.currUser {
	margin-right: 10px
}

.common-header {
	background-color: #FFF;
	line-height: 90px
}

.common-header .wrapper {
	z-index: 999
}

.common-header .logo-box a,.common-header .logo-box span {
	display: block;
	line-height: 89px
}

.common-header .logo-box .logo {
	background: url(../img/logo.png) 0 center no-repeat;
	width: 351px;
	height: 45px;
	padding: 22px 0
}

.common-header .logo-box span {
	display: none
}

.common-header .nav-container {
	position: absolute;
	right: 0;
	top: 0
}

.common-header .nav-container .nav-item {
	position: relative;
	font-size: 16px;
	float: left;
	text-decoration: none;
	color: #333;
	margin: 0 10px;
	height: 90px;
	z-index: 1
}

.common-header .nav-container .nav-item.curr {
	height: 87px;
	border-bottom: 3px solid #e53e3c
}

.common-header .nav-container .nav-item.curr .nav-link {
	color: #e53e3c;
	padding: 0 15px;
	display: block
}

.common-header .nav-container .nav-item:hover {
	z-index: 2
}

.common-header .nav-container .nav-item:hover .nav-link {
	display: block;
	background: #FFF;
	color: #e53e3c
}

.common-header .nav-container .nav-item .nav-link {
	margin-top: 30px;
	line-height: 40px;
	display: block;
	padding: 0 15px;
	font-size: 16px
}

.common-header .nav-item,.common-header .nav-item .nav-link {
	transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out
}

.top-banner .wrapper {
	height: 425px
}

#footer {
	position: relative;
	background: #333438;
	color: #b0b1b6;
	white-space: nowrap;
	font-size: 18px;
	z-index: 0
}

#footer .navLink-container {
	padding: 50px 0 20px 15px;
	border-bottom: 1px dashed #545558
}

#footer .navLink-container .footer-logo {
	float: left;
	position: relative;
	top: -5px;
	width: 190px;
	height: 56px;
	background: url(../img/logo-gray.png) no-repeat
}

#footer .navLink-container .nav-col {
	float: left
}

#footer .navLink-container .nav-col.customer-service {
	position: relative;
	top: -2px;
	margin: 0 10px 0 50px;
	width: auto
}

#footer .navLink-container .nav-col.customer-service .title {
	font-size: 20px
}

#footer .navLink-container .nav-col.customer-service .work-time {
	font-size: 12px;
	margin-top: 10px
}

#footer .navLink-container .nav-col.qrcode {
	margin-top: -30px;
	font-size: 14px;
	padding-left: 50px
}

#footer .navLink-container .nav-col.qrcode img,#footer .navLink-container .nav-col.qrcode span {
	display: block
}

#footer .navLink-container .nav-col.qrcode span {
	margin-top: 10px;
	text-align: center
}

#footer .navLink-container .nav-col.qrcode.wx {
	padding-left: 55px
}

#footer .navLink-container .nav-link {
	float: left;
	color: #b0b1b6;
	margin-left: 28px
}

#footer .copyright {
	text-align: center;
	padding: 30px 0;
	font-size: 14px
}

#footer .copyright .company-info {
	margin: 0 -40px 15px 0
}

#footer .copyright .company-info span {
	margin-right: 40px
}

#footer .copyright .security {
	width: 300px;
	margin: 0 auto;
	padding-top: 15px;
	line-height: 20px
}

#footer .copyright .security img,#footer .copyright .security span {
	float: left;
	color: #b0b1b6;
	font-size: 14px
}

#footer .copyright .security img {
	margin-right: 5px
}

.sidebar-box {
	position: fixed;
	z-index: 999;
	right: 0;
	bottom: 100px
}

.sidebar-box .side-item {
	position: relative;
	background: url(../img/sidebar.png) no-repeat;
	width: 50px;
	height: 50px;
	margin-bottom: 2px;
	cursor: pointer
}

.sidebar-box .side-item .layout {
	position: absolute;
	z-index: -1;
	color: #fff;
	font-size: 16px;
	background-color: #d84747;
	text-align: center
}

.sidebar-box .side-item.customer .layout {
	font-size: 12px;
	right: -180px;
	top: 0;
	width: 140px;
	height: 100%;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	transition: right .2s ease-in-out;
	-webkit-transition: right .2s ease-in-out;
	-o-transition: right .2s ease-in-out;
	-moz-transition: right .2s ease-in-out;
	-ms-transition: right .2s ease-in-out
}

.sidebar-box .side-item.customer .layout .title {
	font-size: 16px;
	margin: 4px 0 1px
}

.sidebar-box .side-item.customer:hover .layout {
	right: 48px
}

.sidebar-box .side-item.app {
	background-position: -50px 0
}

.sidebar-box .side-item.app .layout {
	position: absolute;
	bottom: 0;
	right: 50px;
	width: 140px;
	height: 160px;
	background-color: #d84747;
	border-radius: 2px;
	display: none
}

.sidebar-box .side-item.app .layout .title {
	font-size: 16px;
	margin: 10px 0
}

.sidebar-box .side-item.app .layout img {
	width: 95px;
	height: 95px;
	display: block;
	margin: 0 auto
}

.sidebar-box .side-item.app:hover .layout {
	display: block
}

.sidebar-box .side-item.gotoTop {
	background-position: -100px 0
}

.sidebar-box .side-item:hover {
	background-position-y: -50px!important
}

.error-box {
	position: relative;
	margin: 8px 0
}

.error-box .error-tip {
	height: 28px;
	line-height: 28px;
	color: #fe6164;
	padding-left: 35px;
	display: none;
	border: 1px solid #fe6164;
	background: url(../img/valid-icon.png) 5px 3px no-repeat #fff2f3
}

.selectBox {
	position: relative;
	z-index: 10
}

.selectBox .item-field {
	border: 1px solid #D2D2D2;
	position: relative;
	cursor: default;
	outline: 0;
	background-color: #FFF;
	white-space: nowrap
}

.selectBox .item-field .arrow {
	position: absolute;
	right: 10px;
	top: 16px;
	width: 12px;
	height: 6px;
	background: url(../img/dropdown-arrow.png) no-repeat
}

.selectBox .select-sort {
	position: absolute;
	top: 40px;
	border: 1px solid #CCC;
	width: 100%;
	line-height: 1;
	background-color: #fff;
	font-size: 14px;
	overflow-y: auto;
	z-index: 999
}

.selectBox .select-sort .sub-sort {
	padding: 5px
}

.selectBox .select-sort dd,.selectBox .select-sort dt,.selectBox .select-sort li {
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.selectBox .select-sort dl {
	border-bottom: 1px solid #CCC;
	padding: 0 0 5px 5px
}

.selectBox .select-sort dt {
	font-weight: bolder;
	margin: 5px 0 0
}

.selectBox .select-sort dd.curr,.selectBox .select-sort dd.curr a,.selectBox .select-sort dd:hover,.selectBox .select-sort dd:hover a,.selectBox .select-sort li.curr,.selectBox .select-sort li.curr a,.selectBox .select-sort li:hover,.selectBox .select-sort li:hover a {
	background-color: #f95b56;
	color: #fff
}

.selectBox .select-sort li.forbid {
	background-color: #fff!important
}

.selectBox .select-sort.carBrand-select .title-box {
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #333
}

.selectBox .select-sort.carBrand-select .title-box a {
	font-size: 12px;
	color: #333
}

.selectBox .select-sort.carBrand-select .title-box a:hover {
	color: #e53e3c
}

.selectBox .select-sort.carBrand-select .title-box i {
	color: #e53e3c;
	font-style: normal
}

.selectBox .select-sort.carBrand-select .brands,.selectBox .select-sort.carBrand-select .letters {
	float: left
}

.selectBox .select-sort.carBrand-select .letters {
	border-right: 1px solid #ccc;
	width: 24px;
	font-size: 12px;
	text-align: center
}

.selectBox .select-sort.carBrand-select .letters li {
	padding: 2px 5px;
	*zoom: none;
	*margin-bottom: -1px
}

.selectBox .select-sort.carBrand-select .brands {
	width: 128px;
	height: 415px;
	*height: 440px;
	overflow-y: auto;
	line-height: 1.3;
	padding-left: 0
}

.selectBox .select-sort.yearMonth-select .months,.selectBox .select-sort.yearMonth-select .years {
	float: left;
	width: 164px
}

.selectBox .select-sort.yearMonth-select .months {
	border-left: 1px solid #ccc
}

.selectBox.keySearchBox .select-sort {
	padding: 5px 0;
	top: 35px;
	border-radius: 5px
}

.selectBox.keySearchBox .select-sort .title-box,.selectBox.keySearchBox .select-sort li {
	font-size: 16px;
	padding: 0 10px;
	line-height: 30px
}

.selectBox.keySearchBox .select-sort .title-box {
	font-size: 16px;
	color: #f24644
}

.selectBox.keySearchBox .select-sort .sub-sort {
	padding: 0
}

.selectBox.citySelectBox .hot-select .title-box {
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px dashed #ddd
}

.selectBox.citySelectBox .hot-select .title-box i {
	color: #e53e3c;
	font-style: normal
}

.selectBox.citySelectBox .hot-select ul {
	padding: 10px 5px
}

.selectBox.citySelectBox .hot-select ul li {
	float: left;
	padding: 5px 10px;
	margin: 5px 10px
}

.prSelectBox {
	position: relative;
	z-index: 10
}

.prSelectBox .item-field {
	border: 1px solid #D2D2D2;
	position: relative;
	cursor: default;
	outline: 0;
	background-color: #FFF;
	white-space: nowrap
}

.prSelectBox .item-field .arrow {
	position: absolute;
	right: 10px;
	top: 16px;
	width: 12px;
	height: 6px;
	background: url(../img/dropdown-arrow.png) no-repeat
}

.prSelectBox .select-sort {
	position: absolute;
	top: 40px;
	border: 1px solid #CCC;
	width: 100%;
	line-height: 1;
	background-color: #fff;
	font-size: 14px;
	overflow-y: auto;
	z-index: 999
}

.prSelectBox .select-sort .sub-sort {
	padding: 5px
}

.prSelectBox .select-sort dd,.prSelectBox .select-sort dt,.prSelectBox .select-sort li {
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.prSelectBox .select-sort dl {
	border-bottom: 1px solid #CCC;
	padding: 0 0 5px 5px
}

.prSelectBox .select-sort dt {
	font-weight: bolder;
	margin: 5px 0 0
}

.prSelectBox .select-sort dd.curr,.prSelectBox .select-sort dd.curr a,.prSelectBox .select-sort dd:hover,.prSelectBox .select-sort dd:hover a,.prSelectBox .select-sort li.curr,.prSelectBox .select-sort li.curr a,.prSelectBox .select-sort li:hover,.prSelectBox .select-sort li:hover a {
	background-color: #f95b56;
	color: #fff
}

.prSelectBox .select-sort li.forbid {
	background-color: #fff!important
}

.bt-form .form-item .tip-box.success,.bt-form .form-item.error .tip-box {
	background: url(../img/icon/icon-w20.png) 0 -45px no-repeat
}

.prSelectBox .select-sort.carBrand-select .title-box {
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #333
}

.prSelectBox .select-sort.carBrand-select .title-box a {
	font-size: 12px;
	color: #333
}

.prSelectBox .select-sort.carBrand-select .title-box a:hover {
	color: #e53e3c
}

.prSelectBox .select-sort.carBrand-select .title-box i {
	color: #e53e3c;
	font-style: normal
}

.prSelectBox .select-sort.carBrand-select .brands,.prSelectBox .select-sort.carBrand-select .letters {
	float: left
}

.prSelectBox .select-sort.carBrand-select .letters {
	border-right: 1px solid #ccc;
	width: 24px;
	font-size: 12px;
	text-align: center
}

.prSelectBox .select-sort.carBrand-select .letters li {
	padding: 2px 5px;
	*zoom: none;
	*margin-bottom: -1px
}

.prSelectBox .select-sort.carBrand-select .brands {
	width: 128px;
	height: 415px;
	*height: 440px;
	overflow-y: auto;
	line-height: 1.3;
	padding-left: 0
}

.prSelectBox .select-sort.yearMonth-select .months,.prSelectBox .select-sort.yearMonth-select .years {
	float: left;
	width: 164px
}

.prSelectBox .select-sort.yearMonth-select .months {
	border-left: 1px solid #ccc
}

.prSelectBox.keySearchBox .select-sort {
	padding: 5px 0;
	top: 35px;
	border-radius: 5px
}

.prSelectBox.keySearchBox .select-sort .title-box,.prSelectBox.keySearchBox .select-sort li {
	font-size: 16px;
	padding: 0 10px;
	line-height: 30px
}

.prSelectBox.keySearchBox .select-sort .title-box {
	font-size: 16px;
	color: #f24644
}

.prSelectBox.keySearchBox .select-sort .sub-sort {
	padding: 0
}

.prSelectBox.citySelectBox .hot-select .title-box {
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-bottom: 1px dashed #ddd
}

.prSelectBox.citySelectBox .hot-select .title-box i {
	color: #e53e3c;
	font-style: normal
}

.prSelectBox.citySelectBox .hot-select ul {
	padding: 10px 5px
}

.prSelectBox.citySelectBox .hot-select ul li {
	float: left;
	padding: 5px 10px;
	margin: 5px 10px
}

.prSelectBox .item-field {
	width: 135px;
	margin: 0 15px 0 0
}

.prSelectBox .item-field .field {
	display: block;
	width: 95px;
	overflow: hidden
}

.ph-label {
	color: #A9A9A9;
	position: absolute;
	left: 0;
	top: 0
}

.bt-form .form-title,.bt-form a {
	color: #FFF
}

.bt-form .form-title {
	line-height: 45px
}

.bt-form .form-item .item-field,.bt-form .form-item input {
	line-height: 38px
}

.bt-form .form-item .item-field {
	position: relative;
	z-index: 1;
	width: 250px;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 1px 15px 0;
	height: 40px
}

.bt-form .form-item .item-field .field {
	display: block;
	max-width: 100%;
	max-height: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.bt-form .form-item .item-field .field.default-text {
	color: #A9A9A9
}

.bt-form .form-item input {
	height: 38px;
	width: 100%;
	border: 0;
	padding-left: 0;
	margin-left: 0
}

.bt-form .form-item .get-code,.bt-form .form-item .not-get {
	position: absolute;
	right: 15px;
	top: 0;
	font-size: 14px;
	font-weight: 400;
	color: #333
}

.bt-form .form-item .get-code {
	color: #e53e3c
}

.bt-form .form-item .not-get {
	display: none
}

.bt-form .form-item .forbid {
	color: #999!important;
	top: 0;
	cursor: default
}

.bt-form .form-item .tip-box {
	line-height: 40px;
	margin-left: 10px;
	padding: 1px 0 0;
	color: #999
}

.bt-form .form-item.error .item-field {
	border-color: #fe6164
}

.bt-form .form-item.error .tip-box {
	padding-left: 25px;
	color: #fe6164
}

.bt-form .action-btn {
	display: block;
	height: 45px;
	line-height: 45px;
	background: #438fdb;
	border-radius: 3px;
	text-align: center;
	font-size: 18px;
	margin-top: 15px
}

.overlay-btForm {
	min-height: 355px
}

.overlay-btForm .error-box {
	margin: 20px 0 10px
}

.overlay-btForm .form-item .item-field {
	margin-bottom: 15px
}

.overlay-btForm .action-btn {
	margin-top: 30px;
	background-color: #e53e3c
}

.pager-container {
	font-size: 0;
	text-align: center;
	margin: 30px 0
}

.pager-container a,.pager-container span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 40px;
	font-size: 14px;
	margin-right: 10px
}

.pager-container a {
	padding: 0 15px;
	background: #fff;
	border: 1px solid #e2e2e2;
	cursor: pointer
}

.pager-container a.curr,.pager-container a:hover {
	background-color: #e53e3c;
	border-color: #e53e3c;
	color: #fff
}

.pager-container a.forbid {
	color: #ccc;
	border: 1px solid #e2e2e2;
	background-color: transparent!important;
	cursor: default
}

i.loading {
	display: block;
	width: 400px;
	height: 100px;
	margin: 100px auto;
	background: url(../img/loading.gif) center center no-repeat
}

.cars-module .car-list {
	margin: 15px -16px 0 0;
	padding-bottom: 20px
}

.car-list .car-item {
	*zoom: 1;
	display: block;
	cursor: pointer;
	float: left;
	padding: 19px 19px 17px;
	width: 225px;
	background: #fff;
	border: 1px solid #eee;
	margin: 0 13px 15px 0
}

.car-list .car-item:hover {
	box-shadow: 0 0 8px 3px #eee
}

.car-list .car-item:hover .car-name {
	color: #e53e3c
}

.car-list .car-item .img-link {
	position: relative;
	z-index: 0;
	display: block;
	height: 150px;
	font-size: 0;
	text-align: center;
	word-break: break-all;
	word-wrap: normal;
	*overflow: visible;
	background: url(../img/pic-default.jpg) no-repeat #ececec
}

.car-list .car-item .img-link img {
	z-index: -1;
	max-width: 100%;
	max-height: 100%;
	border: 0;
	opacity: 0;
	filter: alpha(opacity=0)
}

.car-list .car-item .img-link span {
	*background: #fff;
	*opacity: 0;
	*filter: alpha(opacity=0);
	position: absolute;
	z-index: 2000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	*zoom: 1
}

.car-list .car-item .img-link .sign {
	position: absolute;
	z-index: 20;
	left: 0;
	top: 0;
	background: url(../img/icon/car-sign.png) no-repeat;
	width: 42px;
	height: 42px
}

.car-list .car-item .img-link .saled {
	background: url(../img/icon/saled-icon.png) center no-repeat #fff;
	position: absolute;
	z-index: 30;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: .8;
	filter: alpha(opacity=80)
}

.car-list .car-item .line-box {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	word-break: normal;
	color: #333;
	display: block;
	font-size: 16px;
	line-height: 1
}

.car-list .car-item .line-box.car-name {
	padding: 20px 0 10px
}

.car-list .car-item .line-box.info {
	font-size: 12px;
	color: #999;
	margin-bottom: 17px
}

.car-list .car-item .line-box.first-price strong {
	font-weight: 400;
	vertical-align: middle;
	color: #e53e3c;
	font-size: 22px
}

.car-list .car-item .line-box.first-price b,.car-list .car-item .line-box.first-price i {
	font-weight: 400;
	padding-left: 5px;
	color: #999;
	font-size: 16px;
	font-style: normal;
	vertical-align: middle
}

.car-list .car-item .line-box.first-price i {
	text-decoration: line-through
}

.car-list .car-item .line-box.first-price span {
	display: inline-block;
	color: #fc5e64;
	font-size: 12px;
	vertical-align: middle;
	width: 58px;
	height: 18px;
	line-height: 18px;
	border-radius: 2px;
	text-align: center;
	border: 1px solid #fc5e64
}

.pcd-module .selection-box .city-box .title .other-city,.pcd-module .selection-box .province-box .title .other-city {
	color: #e53e3c;
	font-style: normal
}

.animate-down,.animate-right,.animate-scale-bigger,.animate-scale-smaller,.animate-up {
	-webkit-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out
}

.animate-scale-bigger:hover {
	-webkit-transform: scale(.96,.96,1);
	transform: scale(1.05)
}

.animate-scale-smaller:hover {
	-webkit-transform: scale(.97);
	transform: scale(.97)
}

.animate-right:hover {
	transform: translate3d(10px,0,0);
	-o-transform: translate3d(10px,0,0);
	-webkit-transform: translate3d(10px,0,0);
	-moz-transform: translate3d(10px,0,0);
	-ms-transform: translate3d(10px,0,0)
}

.animate-up:hover {
	transform: translate3d(0,-10px,0);
	-o-transform: translate3d(0,-10px,0);
	-webkit-transform: translate3d(0,-10px,0);
	-moz-transform: translate3d(0,-10px,0);
	-ms-transform: translate3d(0,-10px,0)
}

.animate-down:hover {
	transform: translate3d(0,10px,0);
	-o-transform: translate3d(0,10px,0);
	-webkit-transform: translate3d(0,10px,0);
	-moz-transform: translate3d(0,10px,0);
	-ms-transform: translate3d(0,10px,0)
}

.car-move {
	-webkit-transition: all .2s ease-in;
	transition: all .2s ease-in;
	-webkit-transform: translate3d(-6px,0,0);
	transform: translate3d(-6px,0,0)
}

.pcd-module .car-source {
	position: absolute;
	right: 20px;
	line-height: 45px
}

.pcd-module .car-source span {
	float: left;
	padding-right: 5px
}

.pcd-module .car-source .sort-model {
	cursor: pointer;
	display: block;
	float: left
}

.pcd-module .car-source .sort-model i.more {
	float: left;
	display: block;
	height: 10px;
	width: 15px;
	margin: 19px 0 auto 5px;
	background: url(../img/icon/icon-w15.png) 0 -150px no-repeat
}

.pcd-module .selection-box {
	display: none;
	width: 400px;
	position: absolute;
	background: #fff;
	z-index: 100;
	right: -1px;
	top: 43px;
	border: 1px solid #ddd
}

.pcd-module .selection-box .province-box {
	height: 301px
}

.pcd-module .selection-box .city-box .title,.pcd-module .selection-box .province-box .title {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #ddd;
	text-align: center
}

.pcd-module .selection-box .city-box {
	border-top: 1px solid #ddd
}

.pcd-module .selection-box .box-body {
	padding: 15px 10px 10px
}

.pcd-module .selection-box .box-body .p-style {
	width: 76px;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	margin-bottom: 5px
}

.pcd-module .selection-box .box-body .p-style a,.pcd-module .selection-box .box-body .p-style span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: normal;
	word-break: normal;
	cursor: pointer;
	padding: 0 10px;
	color: #333!important
}

.pcd-module .selection-box .box-body .p-style a:hover,.pcd-module .selection-box .box-body .p-style span:hover,.pcd-module .selection-box .box-body .p-style.curr a,.pcd-module .selection-box .box-body .p-style.curr span {
	background: #f95b56;
	color: #fff!important
}

.pcd-module .selection-box .cars-module .module-body {
	border-color: #49be96
}